server:
  port: 8080

# Optional: For better debugging
logging:
  level:
    root: info

    org.springframework: WARN
    org.springframework.web: WARN

    com.netflix.discovery: WARN
    com.netflix.eureka: WARN

    com.netflix.discovery.shared.resolver.aws: WARN
    com.netflix.discovery.shared.transport: WARN
    com.netflix.discovery.shared: WARN
    org.springframework.cloud.netflix: WARN

    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF

    com.zaxxer.hikari: WARN

    org.apache.kafka: WARN

    redis.clients: WARN



jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}


spring:
  project:
    name: user-service

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver


  hikari:
    maximum-pool-size: 5
    minimum-idle: 1
    idle-timeout: 30000
    connection-timeout: 20000

  cloud:
    client:
      ip-address: 127.0.0.1
    inetutils:
      preferred-networks: 127.0.0.1
      ignored-interfaces: .*

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 60000
  cache:
    type: redis


  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  config:
    activate:
      on-profile: nokafka

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaStreamsAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaReactiveStreamsAutoConfiguration


  kafka:
    enabled: false
    bootstrap-servers: localhost:9092
    listener:
      auto-startup: false
      enabled: false
    consumer:
      enabled: false
      group-id: user-service-group-v1
    producer:
      enabled: false

  admin:
    enabled: false
    fail-fast: false
    check-topic-existence: false
    properties:
      bootstrap.servers:
    producer:
      bootstrap-servers:
    consumer:
      bootstrap-servers:
    streams:
      bootstrap-servers:


app:
  kafka:
    topic:
      email-verification-topic: email
      sms-verification-topic: sms
      email-notification-topic: email-notification
      sms-notification-topic: sms-notification

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME}
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
    register-with-eureka: true
    fetch-registry: true

dineswift:
  restaurant-service:
    url: ${ORDER_SERVICE_URL}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    distribution:
      percentiles-histograms:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: user-service
  tracing:
    sampling:
      probability: 1.0

