server:
  port: 8080
  address: 127.0.0.1

# Optional: For better debugging
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

    org.apache.kafka: ERROR
    org.springframework.kafka: ERROR
    org.apache.kafka.clients.NetworkClient: OFF
    org.apache.kafka.clients.admin.AdminClientConfig: OFF
    org.springframework.cloud.commons.util.InetUtils: DEBUG
    com.netflix.appinfo: DEBUG


jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}



spring:
  project:
    name: user-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  zipkin:
    base-url: http://localhost:9411/
    enabled: true

  cloud:
    client:
      ip-address: 127.0.0.1
    inetutils:
      preferred-networks: 127.0.0.1
      ignored-interfaces: .*

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
#      username: ${REDIS_USERNAME}
#      password: ${REDIS_PASSWORD}
#      ssl:
#        enabled: true
      timeout: 60000
  cache:
    type: redis


  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  config:
    activate:
      on-profile: nokafka

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaStreamsAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaReactiveStreamsAutoConfiguration


  kafka:
    enabled: false
    bootstrap-servers: localhost:9092
    listener:
      auto-startup: false
      enabled: false
    consumer:
      enabled: false
      group-id: user-service-group-v1
    producer:
      enabled: false

  admin:
    enabled: false
    fail-fast: false
    check-topic-existence: false
    properties:
      bootstrap.servers:
    producer:
      bootstrap-servers:
    consumer:
      bootstrap-servers:
    streams:
      bootstrap-servers:


app:
  kafka:
    topic:
      email-verification-topic: email
      sms-verification-topic: sms
      email-notification-topic: email-notification
      sms-notification-topic: sms-notification


eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

dineswift:
  restaurant-service:
    url: ${ORDER_SERVICE_URL}

