
spring:
  application:
    name: user-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  profiles:
    active: dev


twilio:
  account:
     sid: ${TWILIO_ACCOUNT_SID}
  auth:
     token: ${TWILIO_AUTH_TOKEN}
  phone:
     number: ${TWILIO_PHONE_NUMBER}





