
spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    consumer:
      group-id: user-service-group-v1
      auto-commit-interval: 100
      properties:
        spring:
          json:
            trusted:
              packages: '*'





