server:
    port: 8080

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      connection-timeout: 20000


  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false


  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    consumer:
      group-id: user-service-group-v1
      auto-commit-interval: 100
      properties:
        spring:
          json:
            trusted:
              packages: '*'


  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 6000
  cache:
    type: redis


# Optional: For better debugging
logging:
  level:
    root: info

    org.springframework: WARN
    org.springframework.web: WARN

    com.netflix.discovery: WARN
    com.netflix.eureka: WARN

    com.netflix.discovery.shared.resolver.aws: WARN
    com.netflix.discovery.shared.transport: WARN
    com.netflix.discovery.shared: WARN
    org.springframework.cloud.netflix: WARN

    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF

    com.zaxxer.hikari: WARN

    org.apache.kafka: WARN

    redis.clients: WARN



jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}


app:
  kafka:
    topic:
      email-verification-topic: email
      sms-verification-topic: sms
      email-notification-topic: email-notification
      sms-notification-topic: sms-notification


eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME}
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
    register-with-eureka: true
    fetch-registry: true

dineswift:
  restaurant-service:
    url: ${ORDER_SERVICE_URL}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    distribution:
      percentiles-histograms:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: user-service
  tracing:
    sampling:
      probability: 1.0


