
spring:
  config:
    activate:
      on-profile: nokafka

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaStreamsAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaReactiveStreamsAutoConfiguration

  kafka:
    enabled: false
    bootstrap-servers: localhost:9092
    listener:
      auto-startup: false
      enabled: false
    consumer:
      enabled: false
      group-id: user-service-group-v1
    producer:
      enabled: false

  admin:
    enabled: false
    fail-fast: false
    check-topic-existence: false
    properties:
      bootstrap.servers:
    producer:
      bootstrap-servers:
    consumer:
      bootstrap-servers:
    streams:
      bootstrap-servers:

