spring:
  project:
    name: user-service

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    consumer:
      group-id: user-service-group-v1
      auto-commit-interval: 100
      properties:
        spring:
          json:
            trusted:
              packages: '*'

  zipkin:
    base-url: http://localhost:9411/
    enabled: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
      ssl:
        enabled: true
      timeout: 60000
  cache:
    type: redis


# Optional: For better debugging
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE


jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}


app:
  kafka:
    topic:
      email-verification-topic: email
      sms-verification-topic: sms
      email-notification-topic: email-notification
      sms-notification-topic: sms-notification


eureka:
  instance:
    hostname: localhost
  prefer-ip-address: true
  ip-address: 127:0.0.1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

dineswift:
  restaurant-service:
    url: ${ORDER_SERVICE_URL}


