server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker

    static_configs:
      - targets:
          - localhost
        labels:
          job: spring-boot
          __path__: /var/log/spring-boot/*.log

    pipeline_stages:
      - json:
          expressions:
            level: level
            service: service
            traceId: traceId
            message: message

      - labels:
          level:
          service:
          traceId:
