server:
  port: 8090

dineswift:
  user-service-url: "http://localhost:8080"


spring:
  application:
    name: api-auth-service

  main:
    web-application-type: reactive

  zipkin:
    base-url: http://localhost:9411
    enabled: true


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
    reactor.netty: DEBUG
    org.springframework.cloud.commons.util.InetUtils: DEBUG
    com.netflix.appinfo: DEBUG
  file:
    path: ./docker/logs
    name: ./docker/logs/${spring.application.name}.log


eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}
  refresh-expiration-time: ${JWT_REFRESH_EXPIRATION_TIME}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    distribution:
      percentiles-histograms:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: user-service
  tracing:
    sampling:
      probability: 1.0




