server:
  port: 8090

dineswift:
  user-service-url: "http://localhost:8080"


spring:
  application:
    name: api-auth-service

  main:
    web-application-type: reactive

logging:
  level:
    root: info

    org.springframework: WARN
    org.springframework.web: WARN

    com.netflix.discovery: WARN
    com.netflix.eureka: WARN

    com.netflix.discovery.shared.resolver.aws: WARN
    com.netflix.discovery.shared.transport: WARN
    com.netflix.discovery.shared: WARN
    org.springframework.cloud.netflix: WARN


    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF

    com.zaxxer.hikari: WARN

    org.apache.kafka: WARN

    redis.clients: WARN

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration-time: ${JWT_EXPIRATION_TIME}
  refresh-expiration-time: ${JWT_REFRESH_EXPIRATION_TIME}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    distribution:
      percentiles-histograms:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: user-service
  tracing:
    sampling:
      probability: 1.0

frontend:
  url: ${FRONTEND_URL}



