server:
    port: 8761

spring:
    application:
        name: eureka-server

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    ip-address: 127.0.0.1
  client:
    register-with-eureka: false
    fetch-registry: false