server:
  port: 8081

dineswift:
  user-service:
      url: ${CART_SERVICE_URL}


spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: none
      database-platform: org.hibernate.dialect.PostgresSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  logging:
    level:
      org:
        hibernate:
          SQL: DEBUG
          type:
            descriptor:
              sql:
                BasicBinder: TRACE

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}


app:
  kafka:
    topic:
      email-verification-topic: email
      sms-verification-topic: sms
      email-notification-topic: email-notification
      sms-notification-topic: sms-notification


google:
  api:
    key: ${GOOGLE_API_KEY}

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true



