server:
  port: 8081


spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 6000
  cache:
    type: redis

  config:
    activate:
      on-profile: nokafka

  kafka:
    enabled: false
    admin:
      check-topic-existence: false

    bootstrap-servers:

    listener:
      auto-startup: false

#eureka:
#  instance:
#    hostname: ${EUREKA_HOSTNAME}
#  client:
#    service-url:
#      defaultZone: ${EUREKA_DEFAULT_ZONE}
#    register-with-eureka: true
#    fetch-registry: true

logging:
  level:
    root: info

    org.springframework: WARN
    org.springframework.web: WARN

    com.netflix.discovery: WARN
    com.netflix.eureka: WARN

    com.netflix.discovery.shared.resolver.aws: WARN
    com.netflix.discovery.shared.transport: WARN
    com.netflix.discovery.shared: WARN
    org.springframework.cloud.netflix: WARN

    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF

    com.zaxxer.hikari: WARN

    org.apache.kafka: WARN

    redis.clients: WARN

